@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}



.fluentContent {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #E6E9FF;
  background: linear-gradient(95deg, rgba(230, 233, 255, 1) 23%, rgba(236, 244, 255, 1) 52%, rgba(216, 240, 255, 1) 82%);
  align-items: center;
  justify-content: center;
}

.formLogin {
  min-width: 500px;
  min-height: 480px;
  background-color: white;
  border-radius: 20px;
}