@import "tailwindcss";

:root {
  --background-purple: linear-gradient(95deg, rgba(230, 233, 255, 1) 23%, rgba(236, 244, 255, 1) 52%, rgba(216, 240, 255, 1) 82%);
  --background-blue: linear-gradient(90deg, rgba(0, 137, 244, 1) 0%, rgba(114, 101, 255, 1) 50%);
  --text: white;
  --text-0: black;
  --text-1: #005091;
  --text-2: #001769;
  --text-3: #004A4D;
  --text-10: #9DD5F5;
  --text-20: #9FB3ED;
  --text-30: #85CAD6;
  --foreground: #171717;
}

@theme inline {
  --color-theme-text: var(--text);
  --color-theme-text-0: var(--text-0);
  --color-theme-text-1: var(--text-1);
  --color-theme-text-2: var(--text-2);
  --color-theme-text-3: var(--text-3);
  --color-theme-text-10: var(--text-10);
  --color-theme-text-20: var(--text-20);
  --color-theme-text-30: var(--text-30);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #13111C;
    --foreground: #ededed;
  }
} */

/* @media (prefers-color-scheme: light) {
  :root {
    --background: linear-gradient(95deg, rgba(230, 233, 255, 1) 23%, rgba(236, 244, 255, 1) 52%, rgba(216, 240, 255, 1) 82%);
    --foreground: #171717;
  }
} */


.fluentContent {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* padding: 0 14rem; */
  background: var(--background-purple);
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.fluentContent::-webkit-scrollbar {
  width: 0;
}

.fluenColorBlue {
  background: var(--background-blue);
}

@media (max-width: 1000px) {
  .fluentContent {
    padding: 0 5rem;
  }
}

@media (max-width: 900px) {
  .fluentContent {
    padding: 0;
  }
}